<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="1http://agl-developer-test.azurewebsites.net"></add>
    <add key="PeopleService" value="people.json"></add>
    <add key="GenericError" value="An error occured while processing your request."></add>
    <add key="AssessmentError" value="An error occured while processing your request."></add>
    <add key="GeneralExceptionMessage" value="Error"></add>
  </appSettings>
</configuration>